body {
    text-align: center;
}
input {
    border: 0;
    background: azure;
    line-height: 50px;
    border-radius: 25px;
    padding: 0 25px 0 25px;
    width: 200px;
    font-size: 16px;
    margin-top: 20px;
    color: rgb(29, 165, 165);
}


input:focus{
    outline: 0;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    background: azure;
    border: 0;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    color: rgb(29, 165, 165);
    font-size: 15px;
    box-shadow:2px 2px 2px rgb(29, 165, 165);
}

button:focus{
    outline: 0;
    background: rgb(29, 165, 165);
    color: white;
}
.sex-class{
    height: 15px;
    width: 20px;
}

