<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/s.css">
</head>
<body>
<h1 id="title">登录界面</h1>

<hr>
<form action="doLogin" method="post">
    <div>
        <label>
            <input type="text" name= "name" placeholder="用户名">
        </label>
    </div>
    <div>
        <label>
            <input type="password" name="password" placeholder="密码">
        </label>
    </div>
    <span th:text="${errorMessage_user}"></span>
    <br>
    <input type="submit" value="登录">
</form>
</form>
</body>
</html>